<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Wordpress-4.4</h1>
        <p>Notes</p>

        <p class="view"><a href="https://github.com/WordPress/WordPress">View the Project on GitHub <small>WordPress/WordPress</small></a></p>
		<p class="view"><a href="https://develop.svn.wordpress.org">View the Project on SVN <small>develop.svn.wordpress.org</small></a></p>
        <ul>
          <li><a href="https://github.com/staylor/wordpress-4.4/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/staylor/wordpress-4.4/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/staylor/wordpress-4.4">View On <strong>GitHub</strong></a></li>
        </ul>
		{% for post in site.posts %}
		<a href="{{ post.url }}">{{ post.title }}</a>
		{% endfor %}
      </header>
      <section>
			{{ content }}
       </section>
    </div>
    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>
