<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Wordpress-4.4</h1>
        <p>Notes</p>

        <p class="view"><a href="https://github.com/WordPress/WordPress">View the Project on GitHub <small>WordPress/WordPress</small></a></p>
		<p class="view"><a href="https://develop.svn.wordpress.org">View the Project on SVN <small>develop.svn.wordpress.org</small></a></p>

		{% for post in site.posts %}
		<h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
		{% endfor %}
      </header>
      <section>
		{{ content }}
      </section>
    </div>
    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>
